.nameContainer{
    background-color: #809fff; 
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2; 
}
.username {
    vertical-align: middle;
    margin: 75;
    font-size: 45;
    color: black;
    
}

.statLabel{
    padding: 2;
    font-size: 15;
}
.pageContent{
    background-color: #444444;
}


.description-label{
    margin-bottom: 15;
}

ListView {
    margin: 20; 
}

Label {
    text-align: center;
    color:wheat;
}
.submissionTitle{
    font-size: 20;
    margin:10;
    
}
.tileName {
    font-size:15;
}
.tileState {
    font-size:11;
    color: white;
}
GridLayout{
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2;
}
ListView{
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2;
}
