GridLayout{
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2;
    background-color: #eeeeee;
    android-elevation: 12;
}
ListView{
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 2;
    background-color: #eeeeee;
    android-elevation: 12;
}
Button {
    border-radius: 50;
    width:50;
    height:50;
}