<ActionBar>
    <Label text="Perfil" class="font-weight-bold"></Label>
</ActionBar>

<StackLayout class="pageContent" orientation="vertical" (unloaded)="onProfileUnload()">
        <Label class="h1 font-weight-bold m-x-auto m-y-30 text-center" text="Moozdzn"></Label>
        <StackLayout class="hr m-10"></StackLayout>
        <Label class="h2 font-weight-bold m-10 text-center" text="{{ 'profile.submissions.label' | L }}">
        </Label>
        <GridLayout class="m-10" columns="*, *, *" rows="auto,auto,auto">
            <Label text="{{ 'profile.submissions.public' | L }}" row="0" col="0" class="h3 text-center font-weight-bold">
            </Label>
            <Label text="{{ 'profile.submissions.submitted' | L }}" row="0" col="1" class="h3 text-center font-weight-bold">
            </Label>
            <Label text="{{ 'profile.submissions.analysis' | L }}" row="0" col="2" class="h3 text-center font-weight-bold">
            </Label>
            <Label text="{{state.public}}" row="1" col="0" class="h3 text-center">
            </Label>
            <Label text="{{state.submitted}}" row="1" col="1" class="h3 text-center">
            </Label>
            <Label text="{{state.inAnalysis}}" row="1" col="2" class="h3 text-center">
            </Label>
        </GridLayout>
        <ListView height="70%" width="95%" [items]="myItems | async" (itemTap)="onItemTap($event)">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="Column">
                    <Label [text]='item.nome' class="h3 text-center">
                    </Label>
                    <Label [text]='item.estado' class="text-center text-primary"></Label>
                </FlexboxLayout>
            </ng-template>
        </ListView>
</StackLayout>