RadAutoCompleteTextView {
    background: #eeeeee;
    padding: 8;
    margin: 10 10 5;
    font-weight: bold;
    font-size: 20;
    border-radius: 50;
    border-width: 1;
    border-color: #31bbff;
    android-elevation:12;
}
SuggestionView {
    android-elevation:12;
    background: #eeeeee;

}

.tileImg {
    width: 50%;
    height: 50%;
}

DockLayout DockLayout {
    background-color: rgba(0, 0, 0, 0.5);
    height: 20%;
}

DockLayout DockLayout Label {
    color: #eeeeee;
}
.fab{
    background-color:#31bbff;
}
