RadAutoCompleteTextView {
    color: black;
    background: #c4c4c4;
    padding: 8;
    margin: 10 10 5;
    font-weight: bold;
    font-size: 20;
    border-radius: 5;
}
SuggestionView {
    border-radius: 5;
    background: #c4c4c4;
}
.listView {
    background: #444444;

}
.tile {
    color: white;
    font-size: 20;
    text-align: center;
}
.distance {
    color: white;
    font-size: 15;
    text-align: center;
}

.tileImg {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.lineBreak {
    height: 0.5;
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    margin: 10;
}
Label {
    text-align: center;
    color: white;
    font-size: 17;
    font-weight: bold;

}
Slider {
    background-color: #809fff;
}
.sliderBG {
    background-color: rgba(44, 44, 43, 0.8);
    height: 20%;
}
DockLayout.sliderBG Button {
    background-color: #185a9d;
    color: white;
    border-radius: 10;
}
DockLayout.sliderBG StackLayout {
    margin: 20% 0;
}
