<ActionBar>
    <Label text="Mapa"></Label>
</ActionBar>

<GridLayout class="page__content">

    <ContentView height="100%" width="100%">
        <Mapbox accessToken="pk.eyJ1IjoibW9vemR6biIsImEiOiJjazd5eGh6bjAwMGl1M21vOTdjMTI1d3NzIn0.cxQh0B_dBFEc7xNjtn0-zQ"
            mapStyle="dark" latitude="38.736946" longitude="-9.142685" hideCompass="false" zoomLevel="15"
            showUserLocation="true" disableZoom="false" disableRotation="false" disableScroll="false"
            disableTilt="false" (mapReady)="onMapReady($event)">
        </Mapbox>
    </ContentView>
    <StackLayout orientation="vertical">
        <RadAutoCompleteTextView #autocomplete [items]="dataItems" suggestMode="Suggest" displayMode="Plain"
            (didAutoComplete)="onDidAutoComplete($event)" hint="Digite para procurar azulejos">
            <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
                <ng-template tkSuggestionItemTemplate let-item="item">
                    <StackLayout orientation="vertical" padding="10">
                        <Label [text]="item.text"></Label>
                    </StackLayout>
                </ng-template>
            </SuggestionView>
        </RadAutoCompleteTextView>

        <FAB horizontalAlignment="right" height="50" width="50" margin="28" horizontal-align="right"
            vertical-align="bottom" (tap)="centerUser()" icon="res://centeruser" rippleColor="#f1f1f1" class="fab">
        </FAB>
    </StackLayout>
</GridLayout>
<!-- <GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout> -->