.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 1;
    vertical-align: middle;
  }
  
  .input-field {
    margin-bottom: 25;
  }
  
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  Image{
    width:70%;
  }
  