<BottomNavigation #tabView>
    <TabStrip>
        <TabStripItem #tab0 (tap)="onTabSelect('tab0')" class="selected">
            <Label text="{{ 'discover.tab' | L }}" color="#444444"></Label>
            <Image src="res://discover" class="icon t-36"></Image>
        </TabStripItem>
        <TabStripItem #tab1 (tap)="onTabSelect('tab1')" >
            <Label text="{{ 'submit.tab' | L }}" color="#444444"></Label>
            <Image src="res://plus_circle" class="icon t-36"></Image>
        </TabStripItem>
        <TabStripItem #tab2 (tap)="onTabSelect('tab2')" c>
            <Label text="{{ 'profile.tab' | L }}" color="#444444"></Label>
            <Image src="res://profileicon" class="icon t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="mapaTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="submeterTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="perfilTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>