<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <!--
                Note TabStripItem will only accept single Label and/or single Image elements that it
                will "adopt"; any other layout elements you try to specify will be ignored
            -->
            <Label text="Mapa"></Label>
            <Image src="font://&#xf279;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Submeter"></Label>
            <Image src="font://&#xf0fe;" class="far t-36"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Perfil"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="mapaTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="submeterTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="perfilTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>