RadAutoCompleteTextView {
    background: #eeeeee;
    padding: 8;
    margin: 10 10 5;
    font-weight: bold;
    font-size: 20;
    border-radius: 50;
    border-width: 1;
    border-color: #31bbff;
    android-elevation:12;
}
SuggestionView {
    android-elevation:12;
    background: #eeeeee;

}
ListView{
    margin-bottom: 20%;
}

.tileImg {
    width: 50%;
    height: 50%;
}

.bottomContainer{
    background-color: rgba(0, 0, 0, 0.5);
    height: 40%;
    border-top-left-radius: 25;
    border-top-right-radius: 25;
}

.bottomContainer Label {
    color: #eeeeee;
}

Button{
    android-elevation:12;
}
.roundBtn {
    border-radius: 50;
    width:50;
    height:50;
}
.changeViewBtn {
    border-radius: 50;
    width:50%;
}
