<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image src="res://logo"></Image>
            <GridLayout rows="auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField class="input h2" hint="{{ 'login.username.hint' | L }}"
                        autocorrect="false"
                        autocapitalizationType="none" [(ngModel)]="user.username"
                        returnKeyType="next" ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField #password class="input h2" [(ngModel)]="user.password"
                        hint="{{ 'login.password.hint' | L }}" secure="true" 
                        ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                    <Label *ngIf="error" text="{{ 'login.error' | L }}" class="text-danger" textWrap="true"></Label>
                </StackLayout>
                
                <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
            </GridLayout>
        <Button text="{{ 'login.button' | L }}"
            (tap)="login()" class="-primary rounded-sm m-t-20"></Button>
    </StackLayout>
</FlexboxLayout>