TextView {
    
    color:white;
}
Label {
    color:white;
}
.card-img {
    width: 100%;
    height: 250;
    margin-bottom: 5;
}
.card-img-thumb {
    background-color: #828282;
    vertical-align: center;
    border-radius: 5;
    width: 430;
    height: 250;
    margin-left: 5;
}
.tile-name {
    font-size: 20;
    font-weight: bold;
    margin: 10 10 ;
}
.description-text {
    font-size: 14;
    font-weight: bold;

}
.lineBreak {
    height: 0.5;
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    margin: 10;
}

.outerStack {
    background-color:#444444;
    padding: 15;
}
