<StackLayout  class="outerStack" orientation="vertical" (loaded)="onPageLoad()">
    <Label text='<-- Desliza para veres mais imagens -->' horizontalAlignment="center">
    </Label>
    <ScrollView class="anim-cover" orientation="horizontal">
        <StackLayout orientation="horizontal" class="">
            <GridLayout *ngFor="let i of array" rows="auto" columns="*">
                <Image class="card-img-thumb" row="0" col="0" src="https://azulejos.b-cdn.net/{{docs._id}}/{{i}}.jpg"
                    stretch="aspectFill"></Image>
            </GridLayout>
        </StackLayout>
    </ScrollView>
    <Label class="anim-title" text="{{tile.name}}" horizontalAlignment="center" class="tile-name"></Label>
    <StackLayout orientation="horizontal">
        <Label class="anim-title description-text" text="Ano: {{tile.ano}}" width="100"></Label>
        <Label class="anim-title description-text" text="Condição atual: {{tile.condicao}}" width="auto" textWrap="true"></Label>
    </StackLayout>
    <StackLayout width="100%" class="lineBreak"></StackLayout>

    <Label class="anim-title description-text" text="Descrição" textWrap="true"></Label>
    <Textview class="anim-content"editable="false" text="{{tile.info}}" horizontalAlignment="stretch" textWrap="true"></Textview>
    <Label *ngIf="relatedTiles" class="anim-title description-text" text="Azulejos relacionados" textWrap="true"></Label>
    <ListView *ngIf="relatedTiles" [items]="myItems | async" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout [class.odd]="odd" [class.even]="even">
                <Label [text]='item.name'></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>