TextView {
    
    color:white;
}
Label {
    color:white;
}
.card-img-thumb {
    background-color: #828282;
    vertical-align: center;
    border-radius: 5;
    width: 100%;
    height: 35%;
    margin-left: 5;
}
.tile-name {
    font-size: 20;
    font-weight: bold;
    margin: 10 10 ;
}
.description-text {
    font-size: 14;
    font-weight: bold;

}
.lineBreak {
    height: 0.5;
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    margin: 10;
}

.outerStack {
    background-color:#444444;
    padding: 30% 20% 0 20%;
}
.error {
    border-color: red;
}

.anim-cover {
    opacity: 0;
    animation-name: key-cover;
    animation-duration: 1;
    animation-delay: 0.5;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-cover {
    0% {
        opacity: 0;
        transform: translate(0, 550) scale(0, 0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    30% {
        opacity: 0.5;
        transform: scale(0.6, 0.6);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1, 1);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

.anim-content {
    opacity: 0;
    animation-name: key-content;
    animation-duration: 1;
    animation-delay: 1.8;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-content {
    0% {
        opacity: 0;
        transform: translate(50, 50);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

.anim-title {
    opacity: 0;
    animation-name: key-title;
    animation-duration: 1;
    animation-delay: 1.5;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-title {
    0% {
        opacity: 0;
        transform: translate(50, 50);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}
