<ActionBar title="{{name}}">
    <NavigationButton text="Back"></NavigationButton>
</ActionBar>

<StackLayout orientation="vertical">
    <Image #tileImage 
        src="https://www.fillmurray.com/640/360"
        loadMode="async"
        stretch="none"
        decodeHeight="100"
        decodeWidth="100"
        ></Image>
    <StackLayout orientation="horizontal">
        <Label text="Ano: {{ano}}" width="100" ></Label>
        <Label text="Condição atual: {{condicao}}" width="auto" textWrap="true"></Label>
    </StackLayout>
    <Label text="{{info}}" 
        horizontalAlignment="stretch" 
        textWrap="true" ></Label>
    <Button class ="my-button" *ngIf="sessao" text="Azulejos relacionados" (tap)="openSessionList($event)"></Button>
</StackLayout>
