<GridLayout class="m-t-30">
    <ActivityIndicator [busy]="processing" width="150" height="150"></ActivityIndicator>
    <!-- TILE ADD INFORMATION -->
    <ScrollView *ngIf="!hasSession">
        <GridLayout columns="*,*" rows="*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*">
            <!-- HEADING -->
            <Label row="0" col="0" colSpan="2" text="{{ 'tile.submit.add' | L }}" class="text-center h2 m-x-20 m-b-20"
                textWrap="true"></Label>
            <!-- TILE NAME -->
            <Label row="1" col="0" colSpan="2" text="{{ 'tile.name.label' | L }}"
                class="font-weight-bold m-b-5 text-primary h3"></Label>
            <Label row="2" col="0" colSpan="2" *ngIf="errorTileName" text="{{ 'tile.name.error' | L }}"
                class="text-danger"></Label>
            <TextField row="3" col="0" colSpan="2" class="-border" hint="{{ 'tile.name.hint' | L }}"
                returnKeyType="next" maxLength="50" [(ngModel)]="_tile.name" (ngModelChange)='NameChanged($event)'>
            </TextField>
            <!-- TILE INFO -->
            <Label row="4" col="0" colSpan="2" text="{{ 'tile.description.label' | L }}"
                class="font-weight-bold m-b-5 text-primary h3"></Label>
            <Label row="5" col="0" colSpan="2" *ngIf="errorTileInfo" text="{{ 'tile.description.error' | L }}"
                class="text-danger"></Label>
            <TextView row="6" col="0" colSpan="2" class="-border" hint="{{ 'tile.description.hint' | L }}"
                [(ngModel)]="_tile.info" (ngModelChange)='InfoChanged($event)' returnKeyType="next">
            </TextView>
            <!-- TILE YEAR-->
            <Label row="7" col="0" text="{{ 'tile.year.label' | L }}"
                class="font-weight-bold m-b-5 text-primary h3"></Label>
            <Label row="8" col="0" *ngIf="errorTileYear" text="{{ 'tile.year.error' | L }}" textWrap="true"
                class="text-danger"></Label>
            <TextField row="9" col="0" class="-border" hint="{{ 'tile.year.hint' | L }}" returnKeyType="done"
                keyboardType="integer" maxLength="4" [(ngModel)]="_tile.year" (ngModelChange)='YearChanged($event)'>
            </TextField>
            <!-- TILE LOCATION -->
            <Label row="7" col="1" text="{{ 'tile.location.label' | L }}" class="font-weight-bold m-b-5 text-primary  h3"></Label>
            <Label row="8" col="1" *ngIf="errorTileLocation" text="{{ 'tile.location.error' | L }}" class="text-danger" textWrap="true"></Label>
            <Button row="9" col="1" text="{{ 'tile.location.hint' | L }}" (tap)="showLocationModal()" class="-outline -rounded-sm"></Button>
            <!-- TILE CONDITION -->
            <Label row="10" col="0" colSpan="2" text="{{ 'tile.condition.label' | L }}" class="font-weight-bold m-b-5 text-primary  h3"></Label>
            <Label row="11" col="0" colSpan="2" *ngIf="errorTileCondition" text="{{ 'tile.condition.error' | L }}"
                textWrap="true" class="text-danger"></Label>
            <Button row="12" col="0" colSpan="2" text="{{ 'tile.condition.hint' | L }}" (tap)="showConditionOptions()"
                class="-outline -rounded-sm"></Button>
            <TextField row="13" col="0" colSpan="2" [(ngModel)]="_tile.condition" (ngModelChange)='ConditionChanged($event)'
                editable="false" class="text-center"></TextField>
            <!-- TILE IMAGES -->
            <Label row="14" col="0" colSpan="2" text="{{ 'tile.pictures.label' | L }}"
                class="font-weight-bold m-b-5 text-primary  h3"></Label>
            <Label row="15" col="0" colSpan="2" *ngIf="errorTileImages" text="{{ 'tile.pictures.error' | L }}"
                textWrap="true" class="text-danger"></Label>
            <Button row="16" col="0" (tap)="onSelectSingleTap()" text="&#xf302;"
                class="fas h2 -outline -rounded-sm"></Button>
            <Button row="16" col="1" (tap)="takePhoto()" text="&#xf030;" class="fas h2 -outline -rounded-sm"></Button>
            <!-- TILE IMAGE PREVIEW -->
            <RadListView row="17" col="0" colSpan="2" *ngIf="_tile.nrImages.length != 0" [items]="_tile.nrImages" selectionBehavior="Press"
                (itemSelected)="onItemSelected($event)" multipleSelection="false">
                <ng-template tkListItemTemplate let-item="item">
                        <Image [src]="item" stretch="aspectFill" class="imgThumb img-circle m-5"></Image>
                </ng-template>
                <ListViewLinearLayout tkListViewLayout scrollDirection="Horizontal" itemInsertAnimation="Scale"
                    itemDeleteAnimation="Scale"></ListViewLinearLayout>
            </RadListView>
            <StackLayout row="18" col="0" colSpan="2" class="hr m-10"></StackLayout>
            <Button row="19" col="1" class="-primary -rounded-sm" text="{{ 'tile.submit.saveProceed' | L }}" (tap)="onSaveAndProceed()"></Button>
            <Button  *ngIf="tiles.length > 0 && onEdit == false" row="19" col="0" class="-rounded-sm bg-danger" text="{{ 'tile.submit.cancel' | L }}" (tap)="onCancel()"></Button>
        </GridLayout>
    </ScrollView>

    <!-- TILE REVIEW AND SUBMIT -->
    <StackLayout *ngIf="hasSession">
        <Label text="{{ 'tile.submit.review' | L }}" class="text-center h2 m-x-20 m-b-20" textWrap="true"></Label>
        <Label text="{{ 'tile.session.hint' | L }}" class="text-center h4 m-x-20 m-b-20"
            textWrap="true"></Label>
        <Label text="{{ 'session.name.label' | L }}" class="font-weight-bold m-b-5 text-primary"></Label>
        <Label *ngIf="errorSessionName" text="{{ 'tile.session.error' | L }}" class="text-danger"></Label>
        <TextView class=" -border m-t-10" hint="{{ 'session.name.hint' | L }}" returnKeyType="done" maxLength="50"
            [(ngModel)]="_session.name" (ngModelChange)='SessionNameChanged($event)'>
        </TextView>
        
        <RadListView [items]="tiles" selectionBehavior="None">
            <ng-template tkListItemTemplate let-item="item" let-i="index">
                <GridLayout columns="2*,*,*" rows="*">
                    <Label  row="0" col="0" [text]="item.name" class="h3" textWrap="true"></Label>
                    <Button row="0" col="1" text="&#xf044;" class="fas h2" (tap)="editTile(i)"></Button>
                    <Button row="0" col="2" text="&#xf2ed;" class="fas h2" (tap)="deleteTile(i)"></Button>
                </GridLayout>
            </ng-template>
            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Scale"
                itemDeleteAnimation="Scale"></ListViewLinearLayout>
        </RadListView>
        <Label *ngIf="tiles.length == 0" text="{{ 'tile.list.error' | L }}" class="text-danger"></Label>
        <Button text="{{ 'tile.submit.another' | L }}" class="-outline -rounded-sm" (tap)="hasSession=!hasSession"></Button>
        <Button text="{{ 'tile.submit.confirm' | L }}" class="-primary -rounded-sm" (tap)="onSubmit()"></Button>
    </StackLayout>
</GridLayout>