Label{
    font-size: 15;
    margin-left: 10;
    color:white;
}
TextField{
    background-color:white;
}
TextView{
    background-color:white;
}
.inputSession {
    border-radius: 5;
    border-width: 2;
    border-color: green;
    margin: 10;
    padding: 10;
}
.submit {
    background-color: green; 
}
.btnInput {
    background-color: #809fff; 
}

.textInput {
    border-radius: 5;
    border-width: 2;
    border-color: #809fff;
    margin: 10;
    padding: 10;
}
.btn {
    color: white;
    border-radius: 10;
    margin: 10;
    padding: 10;
}
.outerStack{
    background-color: #4e597a;
}