Label {
    font-size: 15;
    margin-left: 10;
    color:white;
}

TextField{
    background-color:white;
}
TextView{
    background-color:white;
}
.inputSession {
    border-radius: 5;
    border-width: 2;
    border-color: #444444;
    margin: 10;
    padding: 10;
}
.submit {
    background-color: green; 
}
.btnInput {
    background-color: #809fff; 
}

.textInput {
    border-radius: 5;
    border-width: 2;
    border-color: #444444;
    margin: 10;
    padding: 10;
}
.btn {
    color: white;
    border-radius: 10;
    margin: 10;
    padding: 10;
}
.outerStack{
    background-color: #444444;
}

.lineBreak {
    height: 0.5;
    border: none;
    color: #e0e0e0;
    background-color: #e0e0e0;
    margin: 10;
}